doctype html
html
    include include/head
    body
        include include/nav
        .content
            h2 Biography
            p.
                Fortepianist and harpsichordist, Thomas Foster performs frequently as a chamber musician, recital soloist, and continuo accompanist. With a special affinity for music of the 18th Century, he has developed an expertise in its performance practice, especially with regard to improvisation. Thomas is currently based in Boston, Massachusetts.
            p.
                As a recital soloist on harpsichord, fortepiano, clavichord, and modern piano, Thomas has performed repertoire ranging from the Medieval period to the 21st Century. He has performed extensively as a continuo accompanist in both the United States and England, having appeared with Sinfonia Cymru, the Charities Philharmonia, and Ensemble Serse, with whom he collaborated in the modern-day premiere of Hasse's Cajo Fabricio.
            p. 
                As a composer, Thomas has seen about 40 original compositions premiered to date. From 2002 to 2006, he was active with the Ethos New Music Society in the performance new music, and in the production of several dozen concerts of new music. Thomas has also worked professionally as a piano accompanist, and is an experienced freelance teacher of piano.

            p. 
                Thomas is a Graduate of the Royal College of Music in London, where he was the recipient of the Amadeus Fortepiano Prize and studied with Geoffrey Govier and Robert Woolley. Prior to this, he completed master's degrees in piano performance and composition at Fredonia State University in New York, where he was a two-time recipient of the Victoria Bohlen Memorial Composition Award. He has participated in masterclasses with some of the leading exponents of early music, including Malcolm Bilson, Bart van Oort, David Breitman, Miklos Spanyi, Terence Charlston, Lisa Beznosiuk, and Rachel Brown.

            include include/copyright