doctype html
html
    include include/head
    body
        include include/nav
        .content
            h2 Contact
            form(name="contact" method="POST" data-netlify="true")
                p
                    label Your Name:
                        input(type="text" name="name")
                p 
                    label Your Email: 
                        input(type="email" name="email")
                p 
                    label Message:
                        textarea(name="message")
                p
                    button(type="submit") Send
            include include/copyright