doctype html
html
    include include/head
    body
        include include/nav
        .content
            img.resize(src="assets/photos/bw.jpg" alt="Thomas playing a fortepiano")
            include include/copyright