doctype html
html
    include include/head
    body
        include include/nav
        .content
            h2 Nova Metronome
            img(src="assets/photos/nova-metronome.png")

            a(href="https://apps.apple.com/us/app/nova-metronome/id1378147830" target="_blank" rel="noopener noreferrer")
                img(src="assets/photos/apple-badge.svg")

            p Developed by a music teacher, Nova Metronome is designed to be simple and practical. It has a no-fuss interface and it's easy to use when practicing, both for beginners and professional musicians.

            h3 Features
            ul
                li Elegant, clear, and simple design
                li Tempo marks and numbers like a traditional metronome
                li Large, easy-to-tap adjustment buttons
                li The beat can be subdivided
                li Subdivisions can be toggled on and off to create different rhythms
                li A visual 'pendulum'
                li Two tuning reference pitches: A4 and B-Flat4
                li Light and Dark mode
                li Screen does not go to sleep while using the metronome

            h3 Specifications
            ul
                li BPM 40-208 using Maelzel's scale
                li Beat subdivision: none, 2, 3, and 4
                li Appearance modes: Dark, Light, and 'same as phone'
                li Tuning reference pitches: A4=440Hz and B-Flat4

            iframe(width="560" height="315" src="https://www.youtube.com/embed/GK3TcuQJTxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            h3 Privacy Policy
            p This app does not collect, store, transmit or use any user data.
            include include/copyright