div.nav
    h1.title Thomas Foster
    h2.subtitle Fortepianist
    nav
        ul
            li 
                a(href="index.html") Home
            li
                a(href="bio.html") Biography
            li 
                a(href="cv.html") CV
            li 
                a(href="https://portersquarepiano.com" target="_blank") Piano Lessons
            li 
                a(href="contact.html") Contact
    p.section Music Apps
    nav 
        ul 
            li 
                a(href="novatuner.html") Nova Tuner
            li 
                a(href="novametronome.html") Nova Metronome